.text-rotate {
  display: flex;
  flex-wrap: wrap;
  white-space: pre-wrap;
  position: relative;
  font-family: "scandia-web", sans-serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

.text-rotate-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text-rotate-word {
  display: inline-flex;
  font-family: inherit !important;
  font-weight: inherit !important;
  font-style: inherit !important;
}

.text-rotate-lines {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: inherit !important;
  font-weight: inherit !important;
  font-style: inherit !important;
}

.text-rotate-element {
  display: inline-block;
  font-family: inherit !important;
  font-weight: inherit !important;
  font-style: inherit !important;
}

.text-rotate-space {
  white-space: pre;
}

